n8n/workflows/event-space-intake.json
{
  "name": "CGCS Event Space Intake Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake/event-space",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Intake Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "intake-event-space"
    },
    {
      "parameters": {
        "jsCode": "// Normalize and validate intake form fields\nconst input = $input.first().json.body || $input.first().json;\nconst crypto = require('crypto');\nconst hash = crypto.createHash('sha256')\n  .update(`${input.requester_email}-${input.requested_date}-${Date.now()}`)\n  .digest('hex')\n  .substring(0, 16);\n\nreturn [{\n  json: {\n    request_id: `form-${hash}`,\n    requester_name: (input.requester_name || '').trim(),\n    requester_email: (input.requester_email || '').trim().toLowerCase(),\n    requester_organization: (input.requester_organization || '').trim() || null,\n    event_name: (input.event_name || '').trim(),\n    event_description: (input.event_description || '').trim() || null,\n    requested_date: input.requested_date,\n    requested_start_time: input.requested_start_time,\n    requested_end_time: input.requested_end_time,\n    room_requested: (input.room_requested || '').trim() || null,\n    estimated_attendees: parseInt(input.estimated_attendees) || null,\n    setup_requirements_raw: (input.setup_requirements || '').trim() || null\n  }\n}];"
      },
      "id": "validate-transform",
      "name": "Validate & Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "c_53b8b5f99d7372ea0c513c9fe379461d8fd9c628d883b5b752a95eb5afbe3182@group.calendar.google.com"
        },
        "timeMin": "={{ $json.requested_date }}T{{ $json.requested_start_time }}:00",
        "timeMax": "={{ $json.requested_date }}T{{ $json.requested_end_time }}:00",
        "options": {
          "singleEvents": true
        }
      },
      "id": "check-calendar",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CONFIGURE_IN_N8N",
          "name": "CGCS Admin Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Determine calendar availability based on returned events\nconst events = $input.all();\nconst formData = $('Validate & Transform').first().json;\nconst realEvents = events.filter(e => e.json && e.json.id);\nconst calendar_available = realEvents.length === 0;\n\nreturn [{\n  json: {\n    ...formData,\n    calendar_available: calendar_available,\n    conflicting_events_count: realEvents.length\n  }\n}];"
      },
      "id": "check-availability-result",
      "name": "Calendar Availability Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-agent:8000/api/v1/evaluate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({request_id: $json.request_id, requester_name: $json.requester_name, requester_email: $json.requester_email, requester_organization: $json.requester_organization, event_name: $json.event_name, event_description: $json.event_description, requested_date: $json.requested_date, requested_start_time: $json.requested_start_time, requested_end_time: $json.requested_end_time, room_requested: $json.room_requested, estimated_attendees: $json.estimated_attendees, setup_requirements_raw: $json.setup_requirements_raw, calendar_available: $json.calendar_available}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": false,
              "fullResponse": false
            }
          }
        }
      },
      "id": "call-agent-evaluate",
      "name": "Agent - Evaluate Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Merge agent response with original form data for downstream steps\nconst agentResult = $input.first().json;\nconst formData = $('Validate & Transform').first().json;\nconst calendarData = $('Calendar Availability Result').first().json;\n\nreturn [{\n  json: {\n    request_id: agentResult.request_id || formData.request_id,\n    decision: agentResult.decision,\n    is_eligible: agentResult.is_eligible,\n    eligibility_reason: agentResult.eligibility_reason,\n    pricing_tier: agentResult.pricing_tier,\n    estimated_cost: agentResult.estimated_cost,\n    room_assignment: agentResult.room_assignment,\n    setup_config: agentResult.setup_config,\n    draft_response: agentResult.draft_response,\n    errors: agentResult.errors || [],\n    calendar_available: calendarData.calendar_available,\n    conflicting_events_count: calendarData.conflicting_events_count || 0,\n    _form: formData\n  }\n}];"
      },
      "id": "merge-results",
      "name": "Merge Agent + Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-agent:8000/api/v1/email/triage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({request_id: $json.request_id, email_type: 'admin_review_notification', recipient: $env.ADMIN_EMAIL, subject_prefix: '[CGCS Intake]', context: {decision: $json.decision, event_name: $json._form.event_name, requester_name: $json._form.requester_name, requester_email: $json._form.requester_email, requester_organization: $json._form.requester_organization, requested_date: $json._form.requested_date, requested_start_time: $json._form.requested_start_time, requested_end_time: $json._form.requested_end_time, room_requested: $json._form.room_requested, estimated_attendees: $json._form.estimated_attendees, is_eligible: $json.is_eligible, eligibility_reason: $json.eligibility_reason, pricing_tier: $json.pricing_tier, estimated_cost: $json.estimated_cost, room_assignment: $json.room_assignment, draft_response: $json.draft_response, calendar_available: $json.calendar_available, conflicting_events_count: $json.conflicting_events_count}}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": false
            }
          }
        }
      },
      "id": "trigger-admin-notification",
      "name": "Agent - Queue Admin Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'received', request_id: $('Merge Agent + Form Data').first().json.request_id, message: 'Thank you for your event space request. It has been received and is being reviewed by the CGCS team. You will receive a response within one business day.'}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook - Intake Form": {
      "main": [
        [
          {
            "node": "Validate & Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Transform": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Calendar Availability Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Availability Result": {
      "main": [
        [
          {
            "node": "Agent - Evaluate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent - Evaluate Request": {
      "main": [
        [
          {
            "node": "Merge Agent + Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agent + Form Data": {
      "main": [
        [
          {
            "node": "Agent - Queue Admin Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent - Queue Admin Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "CGCS",
      "id": "1"
    },
    {
      "name": "Intake",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
